.MobMenu{
    display: none;
    @media(max-width: 1000px){
        position: fixed;
        width: 100vw;
        bottom: 0px;
        // height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        gap: 10px;
        padding: 16px;
        z-index: 999999999999;
        &_navHome{
            width: calc(100% / 4 - 10px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 4px;
            img{
                width: 21px;
            }
            &_active{
                .MobMenu_navHome_title{
                    color: #007AFF;
                }
            }
            &_title{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'ARIAL regular';
                font-size: 12px;
                transition: color 300ms;
            }
        }
    }
}