.ContineuwathcingBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ARIAL regular';
    font-weight: 400;
    font-size: 14px;
    background: linear-gradient(to right, #007AFF 0%, #7363E3 50%, #EF4BC5 100%);
    padding: 7px 14px;
    border-radius: 50px;
    cursor: pointer;
    @media(max-width: 440px){
        font-size: 8px;
    }
}