.BigDarkGrayBtn{
    width: 100%;
    background-color: #1F1838;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;
    &:hover{
        background-color: #FFF;
        color: #000;
    }
}