.Genre{
    width: 100%;
    padding-top: 46px !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &_header{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        @media(max-width: 1000px){
            flex-wrap: wrap;
            justify-content: center;
        }
        &_title{
            @media(max-width: 1000px){
                width: 100%;
                text-align: center;
            }
        }
    }
    &_list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        @media(max-width: 1010px){
            justify-content: center;
        }
    }
}