.RegisterBtn{
    border: 1px solid #535353;
    background-color: #1E1E1E;
    transition: background-color 300ms;
    cursor: pointer;
    &_active{
        background-color: #007AFF;
    }

    &_form{
        width: 100%;
        background-color: #007AFF;
    }
}