.ShareDots{
    padding: 16px 10px 17px 9px;
    background-color: #1E1E1E;
    cursor: pointer;
    transition: background-color 300ms;
    img{
        width: 18px;
        height: 4px;
        transition: filter 30ms;
    }
    &:hover{
        background-color: #FFF;
        img{
            filter: invert(1)
        }
    }
}