.Film {
    transition: scale 300ms;

    &_img {
        width: 220px;
        height: 310px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: end;
        align-content: end;
        overflow: hidden;
        flex-wrap: wrap;
        transition: scale 300ms, filter 300ms;
        filter: drop-shadow(0px 0px 20px #fff0);

        &_hover {
            min-width: 220px;
            min-height: 310px;
            position: absolute;
            background-color: #00000070;
            opacity: 0;
            pointer-events: none;
            z-index: 9999;
            transition: opacity 300ms;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_leftBouncer {
                width: 25%;
                height: 100%;
            }

            &_center {
                width: 50%;

                position: relative;
                z-index: 999;

                &_play {
                    padding: 20px 20px 20px 25px;
                    border: 2px solid #FFF;
                    cursor: pointer;
                    background-color: #000B;
                    transition: scale 200ms, background-color 200ms;

                    pointer-events: all;

                    &:hover {
                        scale: 1.1;
                        background-color: #000;
                    }
                }
            }

            &_right {
                width: 25%;
                height: 270px;
                justify-content: start !important;
                flex-direction: column;

                &_heart {
                    rotate: 25deg;
                    width: 20px !important;
                }

                img {
                    width: 18px;
                    cursor: pointer;
                }
            }
        }
    }

    &_progress {
        width: 100%;
        background: #000a;
        backdrop-filter: blur(6px);
        transition: opacity 300ms;

        &_inner {
            background: #EF4BC5;
            justify-content: right !important;
            height: 15px;
        }


        &_img {
            left: -3px;

            img {
                position: relative;
                z-index: -1;
                min-width: 18px;
            }
        }
    }

    &_btn {
        margin-bottom: 20px;
        width: 100%;
        transition: opacity 300ms;
    }



    &_line {

        &_top,
        &_bot {
            width: 100%;
            opacity: 1;
            transition: opacity 300ms;
            position: relative;
            pointer-events: none;
        }

        &_top {
            z-index: 5;
        }

        &_decor {
            width: 100% !important;
            top: 170px;

            &_back {
                z-index: -1;
            }

            &_top {
                z-index: 2;
            }

            &_text {
                z-index: 3;
            }

            &_text {
                bottom: 10px;

                &_title {
                    text-align: center;
                    flex-wrap: wrap;
                    gap: 5px;

                    span {
                        letter-spacing: 0%;
                        white-space: nowrap;
                        text-shadow: 1px 1px 2px #000;
                    }
                }
            }
        }
    }
}

.Film {
    transition: scale 300ms;

    &:hover {
        scale: 1.05;

        .Film_decor {
            opacity: 0;
        }

        .Film_line_bot {
            opacity: 0;
        }

        .Film_line_top {
            opacity: 0;
        }

        .Film_btn {
            opacity: 0;
        }

        .Film_progress {
            opacity: 0;
        }

        .Film_img_hover {
            opacity: 1;
        }

        .Film_img {
            // box-shadow: 0px 0px 20px #fff;
            filter: drop-shadow(0px 0px 20px #fff);
        }
    }

}