.Register{
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    min-height: calc(100vh - 60px);
    @media (max-width: 1000px) {
        padding-bottom: 80px !important;
        min-height: calc(100vh - 60px - 80px);
    }
    &_wrapper{
        width: 50%;
        background: linear-gradient(200deg, #2B1C2777 0%, #1E2C3B77 100%);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 25px 20px;
        max-width: 332px;
        min-width: 332px;
    }
    &_close{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        img{
            cursor: pointer;
            transition: scale 300ms;
            &:hover{
                scale: 1.1;
            }
        }
    }
    &_content{
        width: 100%;
        flex-wrap: wrap;
    }
    &_logo{
        width: 100%;
        flex-direction: column;
        &_img{
            width: 72px;
            height: 72px;
            background: linear-gradient(45deg, #EC4AC5 20%, #1437D1 100%);
        }
    }
    &_btns{
        width: 100%;
    }
    &_form{
        width: 100%;
        flex-wrap: wrap;
        &_btn{
            width: 100%;
            padding: 10px;
            background-color: #007AFF;
            cursor: pointer;
            transition: color 300ms, background-color 300ms;
            &:hover{
                background-color: #FFF;
                color: #000;
            }
        }
    }
    &_line {
    width: 100%;
    color: #535353;

        &::before,
        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background-color: #535353;
            margin: 0 10px;
        }
    }
    &_method{
        width: 100%;
        &_ico{
            background-color: #FFF;
            transition: background-color 300ms;
            cursor: pointer;
            img{
                transition: filter 300ms;
            }
            &:hover{
                background-color: #000;
                img{
                    filter: invert(1);
                }
            }
        }
    }
    &_agreement{
        width: 100%;
        text-align: center;
        color: #535353;
        &_link{
            color: #007AFF;
        }
    }
}