.FandomPostEl{
    width: 100%;
    background: linear-gradient(200deg, #2B1C2777 0%, #1E2C3B77 100%);
    padding: 16px 0px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-content: start;
    &_header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &_left{
            width: calc(50% - 10px);
            justify-content: start !important;
            @media(max-width: 860px){
                width: calc(70% - 10px);
            }
            @media(max-width: 400px){
                font-size: 8px !important;
                flex-wrap: wrap;
            }
            @media(max-width: 350px){
                gap: 3px !important;
            }
            &_round{
                width: 4px;
                height: 4px;
                background-color: #FFF;
            }
            &_date{
                color: rgba($color: #FFF, $alpha: .7);
            }
        }
        &_right{
            width: calc(50% - 10px);
            justify-content: end !important;
            @media(max-width: 860px){
                width: calc(30% - 10px);
            }
        }
    }
    &_title{
        width: 100%;
        padding: 0px 16px;
        justify-content: start !important;
    }
   &_post{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    &_bg{
        width: 100% !important;
        align-items: baseline !important;
        &_img{
            min-width: 100%;
            min-height: 400px;
            filter: blur(10px);
        }
    }
    &_content{
        position: relative;
        z-index: 3;
        display: flex;
        &_img{
            width: 100%;
            max-height: 400px;
        }
    }
   }
    &_nav{
        width: 100%;
        justify-content: start !important;
        padding: 0px 16px;
        &_likes{
            background-color: rgba($color: #000000, $alpha: .25);
            cursor: pointer;
            transition: background-color 300ms, color 300ms;
            img{
                rotate: 25deg;
                width: 15px;
                height: 15px;
                transition: filter 300ms;
            }
            &:hover{
                background-color: #FFF;
                color: #000;
            }
        }
        &_comments_img{
            img{
                rotate: 0deg;
            }
        }
        &_el{
            &:hover{
                img{
                    filter: invert(1);
                }
            }
        }
    }
    &_line{
        width: 100%;
        height: 2px;
        background-color: rgba($color: #FFF, $alpha: .13);
    }
    &_comments{
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }
}