.WatchStories{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px !important;
    @media(max-width: 1090px){
        justify-content: center;
        flex-wrap: wrap;
    }
    @media(max-width: 750px){
        padding-bottom: 80px !important;
    }
    &_left{
        width: calc(25% - 20px);
        display: flex;
        justify-content: start;
        align-items: start;
        padding-left: 50px;
        @media(max-width: 1090px){
            width: 100%;
        }
    }

    &_center{
        width: calc(50% - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        @media(max-width: 570px){
            padding: 0px 10px;
            align-items: start;
            flex-wrap: wrap;
            align-content: start;
            width: 100%;
        }
        &_stories{
            display: flex;
            justify-content: center;
            align-items: start; 
            @media(max-width: 500px){
                flex-wrap: wrap;
                align-content: start !important;
            }
            &_video{
                min-width: 450px;
                min-height: 800px;
                flex-wrap: wrap;
                align-content: space-between;
                img{
                    max-height: 800px;
                    @media(max-width: 500px){
                        max-width: 90vw;
                        min-width: 90vw;
                    }
                }
                @media(max-width: 500px){
                    max-width: 90vw;
                    min-width: 90vw;
                    align-items: start !important;
                    align-content: start;
                }
            }
            &_container{
                align-items: start !important;
                @media(max-width: 500px){
                    max-width: 90vw;
                    min-width: 90vw;
                }
                &_wrapper{
                    min-width: 450px;
                    min-height: 800px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-content: space-between;
                    padding: 16px 8px;
                    padding-bottom: 0px !important;
                    @media(max-width: 500px){
                        max-width: 90vw;
                        min-width: 90vw;
                        min-height: 0px;
                    }
                }
            }
            &_top{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &_left{
                    width: 50%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 8px;
                    @media(max-width: 570px){
                        display: none;
                    }
                }
                &_right{
                    width: 50%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    @media(max-width: 570px){
                        display: none;
                    }
                }
            }
            &_center{
                width: 100%;
                display: flex;
                justify-content: end;
                align-items: end;
                flex-direction: column;
                gap: 10px;
                @media(max-width: 570px){
                    display: none;
                }
            }
            &_bottom{
                width: 100%;
                height: 7px;
                background-color: #00000094;
                backdrop-filter: blur(30px);
                margin-bottom: 5px;
                border-radius: 20px;
                &_watch{
                    background-color: #EF4BC5;
                    border-radius: 20px;
                    height: 100%;
                }
            }
        }
        &_btn{
            @media(max-width: 570px){
                display: none;
            }
        }
    }

    &_right{
        width: calc(25% - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: start;
        gap: 16px;
        min-width: 350px;
        @media(max-width: 1090px){
            display: none;
        }
        &_title{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            padding: 24px 18px;
            background: linear-gradient(to bottom, #2b1c2770 90%, #1E2C3B70 100%);
            border-radius: 25px;
            gap: 20px;
            &_title{
                width: 100%;
                font-family: 'ARIAL bold';
                font-weight: 700;
                font-size: 24px;
            }
            &_description_title{
                width: 100%;
                font-family: 'ARIAL regular';
                font-size: 16px;
                font-weight: 400;
            }
            &_description{
                width: 100%;
                font-family: 'ARIAL regular';
                font-size: 12px;
                color: #C7C7C7;
            }
        }
        &_calendar{
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 21px;
            padding: 19px 16px;
            background: linear-gradient(to bottom, #2b1c2770 90%, #1E2C3B70 100%);
            border-radius: 25px;
            flex-wrap: wrap;
            &_top{
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;

                &_days{
                    padding: 4px 23px;
                    background-color: #007AFF;
                    border-radius: 50px;
                    font-family: 'ARIAL bold';
                    font-size: 16px;
                }
            }
            &_days{
                width: 100%;
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
                gap: 6px;
            }
        }
    }


    &_mob{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        &_top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_left{
                width: 75%;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 16px;
                font-weight: 700;
                font-size: 16px;
                @media(max-width: 480px){
                    font-size: 12px;
                }
                @media(max-width: 390px){
                    gap: 5px;
                    font-size: 10px;
                }
            }
            &_right{
                width: 25%;
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 16px;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 1px;
                @media(max-width: 480px){
                    font-size: 12px;
                }
                @media(max-width: 390px){
                    gap: 5px;
                    font-size: 10px;
                }
            }
        }
    }
}