.ListItem {
    width: 100%;
    padding: 20px 41px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    font-family: 'ARIAL regular';
    font-size: 24px;
    background: transparent;
    cursor: pointer;

    img {
        width: 23px;
        height: 22px;
        filter: contrast(0) brightness(50);
        ;
    }

    &_second {
        border-top: 1px solid rgba($color: #FFFFFF21, $alpha: .13);
        border-bottom: 1px solid rgba($color: #FFFFFF21, $alpha: .13);
    }

    &_active {
        background-color: rgba($color: #007AFF0D, $alpha: .05);
        color: #007AFF;

        img {
            filter: contrast(1) brightness(1);
        }
    }
}