.AdminPanel{
    width: 100%;
    flex-wrap: wrap;
    &_addfilm{
        width: 100%;
    }
    &_editFilm{
        width: 100%;
        &_list{
            width: 100%;
            flex-wrap: wrap;
            &_el{
                width: 100%;
                display: flex;
                cursor: pointer;
                background-color: #FFFFFF50;
                transition: background-color 300ms;
                &:hover{
                    background-color: #000;
                }
                &_item{
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    &_small{
                        max-width: 60px;
                    }
                    video{
                        max-width: 200px;
                    }
                    img{
                        max-width: 100px;
                    }
                }
            }
        }
    }
    &_mm{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 9999999999999;
        background-color: rgba($color: #000, $alpha: .7);
        top: 0px;
        overflow-y: auto;
    }
}