.Header_right_signin{
    background-color: #007AFF;
    border: 1px solid #007AFF;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;

    &:hover {
        color: #000;
        background-color: #FFF;
    }
    &_big{
       padding: 10px 28px;
       min-width: 70px;
    }
}