.Home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    &__new{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 20px;
        &_title{
            width: 100%;
            font-family: 'ARIAL bold';
            font-size: 32px;
        }
        &_items{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 31px;
            margin-bottom: 50px;
        }
    }
}