.HistoryEl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    align-content: start;
    @media(max-width: 1000px){
        padding-bottom: 100px !important;
    }
    &_header{
        width: 100%;
        justify-content: start !important;
        padding-top: 30px;
        &_choise{
            background-color: #1F1E1E;
            cursor: pointer;
            &_active{
                background-color: #007AFF;
            }
        }
        &_mob{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_btn{
                padding: 10px;
                background-color: #1E1E1E;
                transition: background-color 300ms;
                img{
                    transition: filter 300ms;
                }
                &:hover{
                    background-color: #FFF;
                    img{
                        filter: invert(1);
                    }
                }
            }
        }
    }
    &_headermob{
        flex-wrap: wrap;
    }
    &_list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
}