.HistoryElFilm{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    @media(max-width: 440px){
        flex-wrap: wrap;
    }
    &_film{
        @media(max-width: 420px){
            order: 2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &_info{
        width: calc(100% - 250px);
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-content: space-between;
        @media(max-width: 420px){
            order: 1;
            width: 100%;
        }
        &_top{
            width: 100%;
            justify-content: start;
            align-items: center;
            @media(max-width: 560px){
                font-size: 16px !important;
            }
            @media(max-width: 440px){
                font-size: 12px !important;
            }
            &_top{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &_nav{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    @media(max-width: 750px){
                        flex-wrap: wrap;
                    }
                    @media(max-width: 320px){
                        width: 40px;
                    }
                }
            }
            &_bottom{
                width: 100%;
                @media(max-width: 560px){
                    font-size: 12px !important;
                }
                @media(max-width: 440px){
                    font-size: 8px !important;
                }
            }
        }
        &_bottom{
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            @media(max-width: 440px){
                justify-content: center;
            }
        }
    }
}