.Fandom {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;

    @media(max-width: 750px) {
        min-height: 100vh;
        margin-bottom: 100px !important;
    }

    &_slider {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        max-width: 1300px;
    }

    &_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @media(max-width: 750px) {
            min-height: 500px;
            align-content: start;
        }

        &_nav {
            width: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 22px;

            @media(max-width: 750px) {
                width: 100%;
            }

            &_left {
                width: 30%;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 17px;

                @media(max-width: 340px) {
                    gap: 7px;
                }
            }

            &_right {
                opacity: 0;
                pointer-events: none;

                @media(max-width: 750px) {
                    opacity: 1;
                    pointer-events: all;
                    width: 70%;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    &_discussions {
                        padding: 10px 15px;
                        background-color: #ffffff34;
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: color 300ms, background-color 300ms;

                        &:hover {
                            background-color: #FFF;
                            color: #000;
                        }

                        @media(max-width: 340px) {
                            font-size: 14px;
                        }
                    }
                }
            }

            &_item {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                color: rgba($color: #FFF, $alpha: .7);
                cursor: pointer;

                img {
                    rotate: 270deg;
                    opacity: .7;
                }
            }
        }

        &_main {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: start;
            gap: 16px;
        }

        &_balance {
            width: calc(20% - 16px);

            @media(max-width: 750px) {
                display: none;
            }
        }

        &_middle {
            width: calc(60% - 16px);
            // height: 100px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: start;
            gap: 24px;

            @media(max-width: 750px) {
                width: 100%;
            }
        }

        &_left {
            width: calc(20% - 16px);
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            gap: 16px;
            background: linear-gradient(200deg, #2b1c2777 0%, #1E2C3B77 100%);
            backdrop-filter: blur(10px);
            border-radius: 25px;

            @media(max-width: 750px) {
                display: none;
            }

            &_title {
                width: 100%;
                font-family: 'ARIAL regular';
                font-size: 12px;
                text-transform: uppercase;
            }

            &_list {
                width: 100%;
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
            }

            &_btn {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;

                &_el {
                    padding: 5px 15px;
                    background-color: #007AFF;
                    border-radius: 50px;
                    font-family: 'ARIAL regular';
                    font-size: 16px;
                    cursor: pointer;
                    transition: color 300ms, background-color 300ms;

                    &:hover {
                        color: #000;
                        background-color: #FFF;
                    }
                }
            }
        }
    }

    &_mobDiscussions {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 75px);
        z-index: 999999999999;
        background-color: #000;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: start;
        padding: 16px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms;
        gap: 20px;
        overflow: auto;
        top: 0px;
        left: 0px;

        &_open {
            opacity: 1;
            pointer-events: all;
        }

        &_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'ARIAL bold';

            &_pencil {
                background-color: #1E1E1E;
                padding: 13px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 300ms;
                cursor: pointer;

                img {
                    width: 11px;
                    height: 11px;
                    transition: filter 300ms;
                }

                &:hover {
                    background-color: #FFF;

                    img {
                        filter: invert(1);
                    }
                }
            }
        }

        &_list {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background: linear-gradient(200deg, rgba(43, 28, 39, 0.4666666667) 0%, rgba(30, 44, 59, 0.4666666667) 100%);
            border-radius: 25px;
        }
    }
}