.TopUp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px !important;
    @media(max-width: 1000px){
        padding-bottom: 100px !important;
    }
    &_header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to bottom, #2B1C2777 0%, #1E2C3B77 100%);
        @media(max-width: 650px){
            margin-top: 20px !important;
            flex-wrap: wrap;
            justify-content: center;
        }
        &_info{
            width: 50%;
            display: flex;
            justify-content: start;
            align-items: center;
            @media(max-width: 650px){
                justify-content: center;
                gap: 20px;
            }
        }
    }
    &_modes{
        width: 100%;
        max-width: 500px;
        @media(max-width: 570px){
            flex-wrap: wrap;
            gap: 70px !important;
        }
    }
    &_refil,
    &_payments{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_title{
            width: 100%;
            @media(max-width: 1000px){
                text-align: center;
            }
        }
        &_content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media(max-width: 1000px){
                justify-content: center;
            }
        }
    }
    &_payments{
        &_content{
            justify-content: start;
            @media(max-width: 1000px){
                justify-content: center;
            }
        }
    }
}