.FandomDiscussionEl{
    width: 100%;
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: .13);
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: .13);
    justify-content: start !important;
    padding: 8px 0px;
    @media(max-width: 750px){
        padding: 10px;
    }
    &_info{
        justify-content: start !important;
        flex-wrap: wrap;
        &_name{
            width: 100%;
            @media(max-width: 940px){
                font-size: 8px !important;
            }
            @media(max-width: 750px){
                font-size: 12px !important;
            }
        }
        &_members{
            color: #C7C7C7;
            @media(max-width: 940px){
                font-size: 8px !important;
            }
            @media(max-width: 750px){
                font-size: 12px !important;
            }
        }
    }
}
.FandomDiscussionEl:first-child{
    border-top: none;
}

.FandomDiscussionEl:last-child{
    border-bottom: none;
}