.PersonalAccountPerson{
    width: 100%;
    background: linear-gradient(to bottom, #2b1c279f 70%, #1E2C3B9f 100%);
    display: flex;
    align-items: center;
    &_small{
        background: transparent;
        max-width: 400px;
    }
    &_wrapper{
        width: 50%;
    }
    &_img{
        width: 36px;
        height: 36px;
        background-color: #FFF;
        img {
            transition: filter 300ms;
        }
    }
    &_info{
        flex-wrap: wrap;
        &_name{
            width: 100%;
        }
        &_uid{
            width: 100%;
            color: #C7C7C7;
            text-transform: uppercase;
        }
    }
    &_signIn{
        width: 50%;
        justify-content: end !important;
    }
}