.Header {
    width: 100%;
    display: flex;
    align-items: center;
    // padding-top: 10px !important;
    height: 60px;

    &__leftcontainer {
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 24px;

        &_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 11px;

            img {
                width: 37px;
                height: 37px;
            }

            &_title {
                font-family: 'ARIAL bold';
                font-size: 24px;
            }
        }

        &_btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 23px;
        }

        &_text {
            font-family: 'ARIAL regular';
            font-size: 16px;
            cursor: pointer;
            transition: color 300ms;

            &:hover {
                color: #9dccff;
            }

            &_active {
                color: #007AFF;
            }
        }
    }

    &__rightcontainer {
        width: 50%;
        display: flex;
        justify-content: end;
        gap: 20px;

        &_icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 18px;

            img {
                width: 15px;
                height: 15px;
                transition: scale 300ms;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        &_language {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: 'ARIAL regular';
            font-size: 16px;
        }

        &_signin {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 18px;
            background-color: #007AFF;
            border-radius: 50px;
            border: 1px solid #007AFF;
            font-family: 'ARIAL regular';
            font-size: 16px;
            cursor: pointer;
            transition: color 300ms, background-color 300ms;

            &:hover {
                color: #000;
                background-color: #FFF;
            }
        }

        &_login {
            padding: 10px 12px 11px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFF;
            border-radius: 50px;
            transition: background-color 300ms;

            img {
                transition: filter 300ms;
            }

            &:hover {
                background-color: #000;

                img {
                    filter: invert(1);
                }
            }
        }
    }
}