.DownloadAppBtn{
    padding: 5px 18px;
    background-color: #EF4BC5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;
    font-family: 'ARIAL regular';
    font-size: 16px;
    &:hover{
        background-color: #FFF;
        color: #000;
    }
}