.Header_right_signin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
    background-color: #007AFF;
    border-radius: 50px;
    border: 1px solid #007AFF;
    font-family: 'ARIAL regular';
    font-size: 16px;
    cursor: pointer;
    transition: color 300ms, background-color 300ms;

    &:hover {
        color: #000;
        background-color: #FFF;
    }
}