article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: white;
    font-family: 'ARIAL regular';
    user-select: none;
    // font-family: 'Gilroy';
}

.dnone {
    display: none;
}

a {
    text-decoration: none;
}

input,
textarea {
    box-sizing: border-box;
}

.free_img {
    width: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


html {
    background: #000;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 16px;

    &_big {
        @extend .container;
        max-width: 1900px;
    }
}


.App {
    width: 100%;
    overflow: hidden;
}



.fs {
    &_xxs{
        font-size: 10px;
    }
    &_s {
        font-size: 16px;
    }
    &_m {
        font-size: 24px;
    }
    &_l {
        font-size: 32px;
    }
    &_xl{
        font-size: 40px;
    }
    &_lw{
        font-weight: 700;
    }
    // в смысле wide
    &_w {
        font-weight: 800;
    }
}


.mt {
    &_s {
        margin-top: 8px;
    }

    &_m {
        margin-top: 16px;
    }
    &_ml{
        margin-top: 24px;
    }
    &_l {
        margin-top: 32px;
    }

    &_xl {
        margin-top: 64px;
    }
}

.mobPt{
    @media(max-width: 1000px){
        &_s{
            padding-top: 25px !important;
        }
    }
}

.pa{
    &_xs{
        padding: 4px 18px !important;
    }
    &_logo{
        padding: 10px 12px 11px 12px !important;
    }
    &_smallLogo{
        padding: 6px 8px 7px 9px;
    }
    &_m{
        padding: 8px 16px !important; 
    }
    &_l{
        padding: 10px 20px !important;
    }
}

.gap{
    &_xxxs{
        gap: 4px;
    }
    &_xs{
        gap: 8px;
    }
    &_s{
        gap: 12px;
    }
    &_m{
        gap: 18px;
    }
    &_l{
        gap: 24px;
    }
    &_xl{
        gap: 32px;
    }
}

.fcc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ffab{
    font-family: 'ARIAL bold'
}

.ffar{
    font-family: 'ARIAL regular';
}

.brad{
    &_50{
        border-radius: 50px;
    }
    &_25{
        border-radius: 25px;
    }
    &_30{
        border-radius: 30px;
    }
    &_15{
        border-radius: 15px;
    }
}

.m0{
    margin: 0 auto;
}