.PersonalAccount{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
    @media(max-width: 900px){
        flex-wrap: wrap;
        justify-content: center;

    }
    &_leftinfo{
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: start;
        order: 2;
        @media(max-width: 1000px){
            width: calc(77% - 32px);
        }
        @media(max-width: 1000px){
            width: 100%;
        }
        &_balance{
            background: linear-gradient(to bottom, #2b1c279f 70%, #1E2C3B9f 100%);
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            &_tickets_wrapper{
                width: 100%;
                justify-content: space-between !important;
            }
            &_coins{
                width: 50%;
                justify-content: start !important;
                @media(max-width: 650px){
                    justify-content: center !important;
                    min-width: 100px;
                }
                &_logo{
                    // padding: 6px 8px 7px 9px;
                    background-color: #EF29DC;
                    border-radius: 50px;
                }
                &_amount{
                    @media(max-width: 1120px){
                        font-size: 18px !important;
                    }
                    @media(max-width: 1000px){
                        font-size: 14px !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    @media(max-width: 500px){
                        font-size: 10px !important;
                    }
                }
            }
            &_tickets{
                width: 50%;
                display: flex;
                justify-content: start;
                @media(max-width: 650px){
                    justify-content: center;
                    min-width: 100px;
                }
                &_logo{
                    gap: 2px;
                    &_left{
                        background-color: #EF29DC;
                        width: 7px;
                        height: 24px;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                    }
                    &_center{
                        background-color: #EF29DC;
                        height: 24px;
                        padding: 4px 6px;
                    }
                    &_right{
                        background-color: #EF29DC;
                        width: 7px;
                        height: 24px;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                    }
                }
                &_amount{
                    @media(max-width: 1120px){
                        font-size: 18px !important;
                    }
                    @media(max-width: 1000px){
                        font-size: 14px !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    @media(max-width: 500px){
                        font-size: 10px !important;
                    }
                }
            }
            &_btn{
                width: 100%;
                background-color: #007AFF;
                transition: color 300ms, background-color 300ms;
                cursor: pointer;
                &:hover{
                    color: #000;
                    background-color: #FFF;
                }
            }
        }
        &_list{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            background: linear-gradient(to bottom, #2b1c279f 99%, #1E2C3B9f 100%);   
            a{
                width: 100%;
            }
        }
    }

    &_right{
        width: calc(77% - 32px);
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        @media(max-width: 1000px){
            display: none;
        }
    }
}