.Player{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    &__leftcontainer{
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;
        &_play{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-family: 'ARIAL regular';
            font-size: 16px;
            background-color: #007AFF;
            border: 1px solid #007AFF;
            border-radius: 50px;
            padding: 10px 26px;
            cursor: pointer;
            transition: color 300ms, background-color 300ms, border 300ms;
            img{
                transition: filter 300ms;
            }
            &:hover{
                background-color: #fff;
                color: #000;
                border: 1px solid #FFF;
                img{
                    filter: invert(1);
                }
            }
        }
        &_more{
            padding: 17px 9px;
            border: 1px solid #FFF;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    &__rightcontainer{
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 16px;
        &_arrow{
            background-color: rgba($color: #2B2B2B, $alpha: .7);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 300ms;
            &:hover{
                transform: scale(1.1);
            }
        }
        &_arrowleft{
            padding: 12px 17px 13px 13px;
        }
        &_arrowright{
            padding: 12px 13px 13px 17px;
            img{
                transform: rotate(180deg);
            }
        }
    }
}