@font-face {
    font-family: 'ARIAL regular';
    src: url('/fonts/ARIAL.TTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ARIAL bold';
    src: url('/fonts/ARIALBD.TTF');
    font-weight: 800;
    font-style: normal;
}