.Slider {

    &_arrow {
        min-width: 40px;
        min-height: 40px;
        background-color: #fff2;
        transition: background-color 200ms;


        &:hover {
            cursor: pointer;
            background-color: #fff4;
        }

        &_right {
            rotate: 180deg;

        }

        &_wrapper {
            position: relative;
            z-index: 2;

            @media(max-width: 1350px) {
                left: 40px;
            }

            &_right {
                @media(max-width: 1350px) {
                    left: -40px !important;
                }
            }

        }
    }

    &_content {
        height: 400px;
        width: 1300px;
        max-width: calc(100vw);

        &_stories {
            height: 220px;
        }
    }
}